[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

# Preferably configure a non-privileged user
User=root
Group=root

# Specify the path to your puma application root
WorkingDirectory=/root/qiandao

# The command to start Puma
ExecStart=/usr/bin/bundle exec puma -C /root/qiandao/config/puma.rb
ExecStop=/usr/bin/bundle exec pumactl -S /root/qiandao/shared/pids/puma.state stop

TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target